body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Black', Gadget, sans-serif;
    background-color: #ffffff;
}



.upper,
.lower {
    background-color: #831b1e;
    padding: 60px 10%;
    position: relative;
    overflow: hidden;
}

.box::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 140px solid transparent;
    border-top: 140px solid transparent;
    border-bottom: 140px solid #ffffff;
    z-index: 1;
}



.main-logo {
    width: 150px;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.upper h1 {
    font-size: 58px;
    margin: 0;
    color: #ffffff;
    font-weight: 900;
    position: relative;
    z-index: 2;
}

.upper h3 {
    font-size: 28px;
    margin: 10px 0 30px 0;
    color: #000000;
    font-weight: 900;
    position: relative;
    z-index: 2;
}

.upper p {
    font-size: 14px;
    font-family: Arial, sans-serif;
    max-width: 880px;
    line-height: 1.7;
    color: #ffffff;
    position: relative;
    z-index: 2;
}



.mid1,
.mid2,
.mid3,
.mid4,
.mid5 {
    padding: 50px 10%;
    background-color: #ffffff;
    margin-bottom: 40px;
}



.icon {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.icon img {
    height: 41px;
}

.icon h1 {
    font-size: 48px;
    margin: 0;
    color: #000000;
    font-weight: 900;
}



.club-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.club-item {
    text-align: center;
    width: 15%;
}

.club-item img {
    width: 90px;
    height: auto;
}

.club-item h4 {
    color: #a12328;
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.club-item h6 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 6px 0 0;
    font-weight: 700;
}


.lower {
    padding: 70px 10%;
}

.lower h1 {
    font-size: 28px;
    line-height: 1.3;
    margin: 0;
    color: #ffffff;
    font-weight: 900;
    position: relative;
    z-index: 2;
}